<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFirstWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/OperationService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFirstWCF" contract="IFirstWCF"
                name="BasicHttpBinding_IFirstWCF" />
        </client>
    </system.serviceModel>
</configuration>